<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!--<!DOCTYPE hibernate-configuration PUBLIC-->
        <!--"-//Hibernate/Hibernate Configuration DTD//EN"-->
        <!--"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">-->

<hibernate-configuration>

    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/agregator</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">,ekmrekm</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <property name="connection.pool_size">1</property>
        <property name="show_sql">true</property>


        <mapping class="com.var.agregator.dto.client.Client"/>
        <mapping class="com.var.agregator.dto.client.TripPreferences"/>
        <mapping class="com.var.agregator.dto.tour.Tour"/>
        <mapping class="com.var.agregator.dto.tour.Transportation"/>
        <mapping class="com.var.agregator.dto.tour.EatingPlace"/>
        <mapping class="com.var.agregator.dto.tour.GeneralInformation"/>
        <mapping class="com.var.agregator.dto.tour.RentTransport"/>
        <mapping class="com.var.agregator.dto.tour.ResidentLocation"/>
    </session-factory>

</hibernate-configuration>