div.registration{
    position: absolute;
    left: 1050px;
    top: 20px;
    width: 150px;
    height: 250px;
    /*border: solid #0b0b0b;*/
}

div.searchTour{
    position: absolute;
    top: 200px;
    left: 200px;
    width: 200px;
    height: 50px;
    border: solid 5px #93ffd7;
}

div.createTour{
    position: absolute;
    top: 200px;
    left: 500px;
    width: 200px;
    height: 50px;
    border: solid 5px #93ffd7 ;
}

.body{

    background-size: 100%;
}

div.persArea{
    position: absolute;
    left: 1050px;
    top: 0px;
    width: 200px;
    height: 50px;
    /*border: solid #0b0b0b;*/
}

div.toolBar{
    position: absolute;
    background-color: aliceblue;
    width: 100%;
    height: 10%;
}